<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ .Book.Description }}">
    <title>{{ .Book.Title }}</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <div class="container">
        <h1>{{ .Book.Title }}</h1>
        <em>{{ .Book.Description }}</em>
        <ul>
            {{ range .Posts }}
            <li><a href="/{{ .URL }}">{{ .Title }}</a><br><em>{{ .Description }}</em></li>
            {{ end }}
        </ul>
    </div>
</body>

</html>