<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ .Post.Description }}">
    <title>{{ .Post.Title }}</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <div class="container">
        <div class="breadcrumb">
            <a href="/">Home</a>
            <a href="/{{ .Book.URL }}">{{ .Book.Title }}</a>
            <span>{{ .Post.Title }}</span>
        </div>
        <div class="book">
            Book: {{ .Book.Title }}
        </div>
        <article class="post">
            {{ .Post.Content }}
        </article>
        <div class="related">
            <h2>Related posts</h2>
            <ul>
                {{ range .BookPosts }}
                <li><a href="/{{ .URL }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
</body>

</html>